html {
    background: #b8cecc url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: #375a0a;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Droid Sans', Verdana, Arial, sans-serif;
    background-color: transparent;
    line-height: 15px;
}

h1 {
    text-transform: uppercase;
    color: #72ac00;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 15px;
    font-weight: normal;
}

h2 {
    line-height: 15px;
    font-weight: bold;
    font-size: 12px;
}

h3 {
    line-height: 15px;
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;
}

h4 {
    line-height: 15px;
    font-weight: normal;
    font-size: 12px;
}

p {
    margin-bottom: 10px;
}

.center {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.left {
    float: left;
    margin-right: 20px;
}

.right {
    float: right;
    margin-left: 20px;
}

.clear {
    clear: both;
}

a {
    color: #72ac00;
    text-decoration: none;
}

a:hover {
    color: #72ac00;
    text-decoration: underline;
}

#maincontainer {
    max-width: 900px;
    margin: 30px auto;
    background-color: rgb(254, 255, 153);
    background-color: rgba(254, 255, 153, 0.9);
    background-image: url("../images/header.png");
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 15px 3px #8eac54;
    -webkit-box-shadow: 1px 1px 15px 3px #8eac54;
    -moz-box-shadow: 1px 1px 15px 3px #8eac54;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#header {
    height: 100px;
}

#header a {
    color: rgb(254, 255, 153);
    font-size: 12px;
    text-transform: uppercase;
}

#header #flower-image {
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 440px;
    left: -21px;
    float: left;
}

#header #croupon-link {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 31px;
    width: 160px;
    float: left;
    letter-spacing: 0.1em;
}

#header #logo {
    padding: 0px;
    margin: 0px;
    float: right;
}

#header #logo img {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    border: none;
}

#navigation {
    float: left;
    width: 180px;
    line-height: 1.7em;
    font-size: 11px;
    text-align: left;
    color: #72ac00;
    text-transform: uppercase;
    overflow: hidden;
    margin-top:15px;
}

#navigation ul {
    padding: 0;
}

#navigation ul li {
    list-style-type: none;
}

#navigation a {
    text-decoration: none;
    font-size: 11px;
    padding-left: 15px;
    margin-left: -14px;
}

#navigation a:hover {
    color: #b0cf43;
    background: url(../images/image_hover.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#navigation li.aktiv a {
    background: url(../images/image_hover.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#content {
    padding: 25px;
    margin-left: 180px;
    min-height: 300px;
}

#footer {
    background-image: url(../images/footer.png);
    height: 100px;
    background-repeat: no-repeat;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#footer ul {
    float: right;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 77px;
}

#footer ul li {
    display: inline;
    margin-right: 12px;
}

#footer ul li a {
    color: #feff99;
    text-decoration: none;
}

#footer ul li a:hover {
    text-decoration: underline;
}

.quotation {
    font-size: 14px;
    color: #72AC00;
    text-align: right;
    position: relative;
    top: 60px;
    width: 800px;
    right: 160px;
}

.quotation .author {
    font-size: 10px;
    margin-right: 15px;
}

.offer {
    clear: both;
    text-align: right;
    font-style: italic;
    padding-right: 10px;
}

.offer img {
    position: relative;
}

.smaller {
    font-size: smaller;
}

.italic {
    font-style: italic;
}

.top {
    clear: both;
    text-align: left;
    margin-top: 10px;
}

.top img {
    position: relative;
}

@media (max-width: 890px) {
    #logo, .quotation {
        display: none;
    }
}

@media (max-width: 620px) {
    #croupon-link {
        display: none;
    }

    #navigation {
        float: none;
    }

    #content {
        margin-left: 0;
    }
}



